@use './base/reset';
@use './base/variables';

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  min-height: 100vh;
  max-width: 1440px;
  font-family: variables.$font-family-base;
  background-color: variables.$color-basic;
  box-shadow: variables.$border-color 0px 0px 30px 0px;
}

.main {
  flex-grow: 1;
  width: 100%;
}

.table {
  border-collapse: collapse;

  .thead {
    .td {
      color: variables.$font-color-secondary;
      font-weight: 600;
    }
  }

  .td {
    padding: 4px;
    border: 1px solid variables.$border-color;
  }
}

.table-input {
  padding: variables.$spacing-xs;
  width: 100%;
  border: 1px solid transparent;
  border-radius: variables.$border-radius;
  outline: none;
  transition: border-color 0.2s;

  &::placeholder {
    color: variables.$input-placeholder-color;
  }

  &:focus {
    border-color: variables.$border-color;
  }
}

.textarea {
  outline: none;
}
