@use '@/styles/base/variables';
@use '@/components/Button/ButtonStyles';

.home {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
  justify-content: center;
  flex: 1;

  &__tittle {
    font-family: variables.$font-family-base;
    font-size: variables.$font-size-lg;
    font-weight: variables.$font-weight-bold;
    color: variables.$font-color-primary;
  }

  &__nav {
    display: flex;
    gap: variables.$spacing-md;
  }

  &__link {
    text-decoration: none;
  }
}
