@use '@/styles/base/variables';
@use '@/components/Button/ButtonStyles';

.header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: variables.$color-basic;
  border-bottom: 0.1rem solid variables.$border-color;
  padding: 1.5rem 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 3ms ease;

  &__actions {
    display: flex;
    gap: 1rem;
  }

  &__logo {
    width: 48px;
    height: 48px;
  }

  &__link {
    text-decoration: none;
  }
}

.scrolled {
  background-color: variables.$bg-color;
}
