@use '@/styles/base/variables';
@use '@/components/Button/ButtonStyles';

.header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: variables.$color-basic;
  border-bottom: 0.1rem solid variables.$border-color;
  padding: 1rem 7rem;
  transition: 0.3s ease;

  .navbar {
    display: flex;
    align-items: center;
    gap: 3rem;

    &__actions {
      display: flex;
      justify-content: flex-end;
      align-items: baseline;
      width: 95%;

      &:has(.navbar__actions--expanded-group) {
        justify-content: space-between;
      }

      &--expanded-group,
      &--basic-group {
        display: flex;
        gap: 1.7rem;
      }
    }

    &__link {
      font-size: variables.$font-size-base;
      font-weight: variables.$font-weight-bold;
      color: variables.$color-secondary;
      text-transform: uppercase;
      transition: 0.3s ease;
      position: relative;

      &:after {
        display: block;
        position: absolute;
        left: 0;
        width: 0;
        content: '';
        height: 2px;
        background-color: variables.$color-secondary-light;
        transition: width 0.3s ease-out;
      }

      &:hover {
        color: variables.$color-secondary-light;

        &:after{
          width: 100%;
        }
      }
    }
  }
}

.app-logo {
  width: 48px;
  height: 48px;
}

.scrolled {
  background-color: variables.$bg-color;
}
