@use '@/styles/base/variables';

.message {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 336px;
  min-height: 59px;
  padding: 10px;
  text-align: center;
  white-space: normal;
  overflow-wrap: anywhere;

  &--success {
    background-color: variables.$color-success;
    font-size: variables.$font-size-sm;
  }
  &--warning {
    background-color: variables.$bg-color-warning;
  }
}
