$color-warning: #F72A2A;
$color-success: #329F42;
$color-primary: #FC5723;
$color-primary-light: #FC8B23;
$color-primary-10: #FC57231A;
$color-secondary: #166E7A;
$color-secondary-light: #22B5D3; 
$color-disabled: #C6C6C6;
$color-basic: #FFFFFF;
$color-basic-dark: #02151C;
$bg-color: #F5F5F5;

$input-color: #B5A9A5;
$input-disabled-color: #F5F5F5;
$border-color: #DEDAD8;
$border-radius: 4px;

$font-color-primary: #02151C;
$font-color-secondary: #756E6C;
$font-size-sm: 14px;
$font-size-base: 16px;
$font-size-md: 24px;
$font-size-lg: 36px;
$font-family-base: 'Roboto';
$font-weight-regular: 400;
$font-weight-medium: 600;
$font-weight-bold: 700;
$font-style-normal: normal;
$font-style-italic: italic;
$line-height-tight: 16px;
$line-height-normal: 19px;
$line-height-relaxed: 28px;
$line-height-btn: 24px;

$spacing-xs: 5px;
$spacing-sm: 10px;
$spacing-md: 15px;

$btn-width: 113px;
$btn-height: 40px;
$btn-padding: 8px 32px;

